@media screen and (max-width:400px) {
    .nav-container{
        flex-direction: column;
        margin-top: 25px;
    }
    .nav-items-container{
       flex-direction: column;
       width: 100%;
}
.nav-items-container a{
    margin-top: 30px;
    
}
.follow-btn{
    width: 100%;
    margin-bottom: 10px;

}
/* nav end  */
/* banner  start  */
.banner-container {
    /* flex-direction: column; */
    flex-direction: column-reverse;

}
.div1-banner-text {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 10px;
    
}
.banner-play {
   
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    
}
.banner-goat {
    font-size: 45px;
    font-weight: 800;
    text-align: center;
}
.banner-click{
  
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}
.banner-download{
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    
}
.banner-support{
  
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    
}
.div2-banner-img {
   
    width: 100%;
    margin-top: 50px;
}
.banner-button-1{
   margin-left: 30px;
}
/* banner end  */
.we-are-gamer{
   flex-direction: column;
}
.we-are-gamer-text{
    /* border: 2px solid blue; */
    width: 100%;
    text-align: center;
}
.we-are-gamer-img{
    /* border: 2px solid teal; */
    width: 100%;
   
}
.we-are-gamer-text .wg-span{
    margin-top: 70px;
}
.image-grid{
    display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
}
.video-game-title{
    text-align: center;
    color: #0B0223;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
    }
    .video-game-description{
        text-align: center;
        font-size: 15px;
        margin-left: 8px;
        margin-right: 7px;
        }

/* video section end  */
/* footer start  */
.contact{
    flex-direction: column;
}

.social-contact{
     
    flex-direction: column;
}

.other-contact{
   flex-direction: column;
}
.copyright{
    flex-direction: column;
}
.section-3{
    flex-direction: column;
    margin-left: 20px;
    margin-bottom: 40px;
}
.section-3 img{
    margin-top: 20px;
}
.section-3-text{
    /* border: 2px solid green; */
    width: 50%;
    text-align: center;
    font-size: 20px;
    margin-top: 300px;
    margin-left: 30px;
   
}
.section-3-img {
    margin-left: 30px;
}
.dobule{
    position: relative;
    /* padding-top: 25px; */
    bottom: 79px;
    margin-right: -51px;
    margin-left: -33px;
    
}
.section4-1{
    display: grid;
    max-width: 400px;
    justify-content: space-evenly;
    /* gap: 35px; */
    grid-template-columns: repeat(2,1fr);
    /* align-items: center; */
    /* margin-bottom: 25px; */
    margin-left: 8px;
}
.section-4-2{
    display: grid;
    max-width: 400px;
    justify-content: space-evenly;
    grid-template-columns: repeat(2,1fr);
    /* margin-top: 20px; */
    /* gap: 35px; */
    /* align-items: center; */
    /* margin-bottom: 25px; */
    margin-left: 8px;
}

}