@media screen and (max-width:400px) {
    .nav-container{
        flex-direction: column;
        margin-top: 25px;
    }
    .nav-items-container{
       flex-direction: column;
       width: 100%;
}
.nav-items-container a{
    margin-top: 30px;
    
}
.follow-btn{
    width: 100%;
    margin-bottom: 10px;

}
/* nav end  */
/* banner  start  */
.banner-container {
    /* flex-direction: column; */
    flex-direction: column-reverse;

}
.div1-banner-text {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 10px;
    
}
.banner-play {
   
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    
}
.banner-goat {
    font-size: 45px;
    font-weight: 800;
    text-align: center;
}
.banner-click{
  
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}
.banner-download{
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    
}
.banner-support{
  
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    
}
.div2-banner-img {
   
    width: 100%;
    margin-top: 50px;
}
.banner-button-1{
   margin-left: 30px;
}
/* banner end  */
.we-are-gamer{
   flex-direction: column;
}
.we-are-gamer-text{
    /* border: 2px solid blue; */
    width: 100%;
    text-align: center;
}
.we-are-gamer-img{
    /* border: 2px solid teal; */
    width: 100%;
   
}
.we-are-gamer-text .wg-span{
    margin-top: 70px;
}




}