@media screen and (max-width:400px) {
    .nav-container{
        flex-direction: column;
        margin-top: 25px;
    }
    .nav-items-container{
       flex-direction: column;
       width: 100%;
}
.nav-items-container a{
    margin-top: 30px;
    
}
.follow-btn{
    width: 100%;
    margin-bottom: 10px;

}
}