*{
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}
body{
    font-family: 'Work Sans' ;
}
/* navber section  */
.navber{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-container{
    min-height: 100px;
    display: flex;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
    

}
.logo-container{
   
    min-height: 50px;
    display: flex;
    width: 50%;
}
.logo-container img{
    /* width: 50%; */
    /* object-fit: cover; */
    margin-right: 20px;

}
.logo-container p{
    font-size: 28px;

}
.color-letter{
    color: #FF42A5 ;
}
.nav-items-container{
    min-height: 50px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-size: 18px;
}
.nav-items-container a{
    text-decoration: none;
    margin-top: 15px;
    
}
.nav-items-container .follow-btn{
    border-radius: 8px;
background: rgba(11, 2, 35, 0.10);
padding: 10px 20px;
text-align: center;

}