* {
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans';
}

/* navber section  */
.navber {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-container {
    min-height: 100px;
    display: flex;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;


}

.logo-container {

    min-height: 50px;
    display: flex;
    width: 50%;
}

.logo-container img {
    /* width: 50%; */
    /* object-fit: cover; */
    margin-right: 20px;

}

.logo-container p {
    font-size: 28px;

}

.color-letter {
    color: #FF42A5;
}

.nav-items-container {
    min-height: 50px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-size: 18px;
}

.nav-items-container a {
    text-decoration: none;
    margin-top: 15px;

}

.nav-items-container .follow-btn {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px 20px;
    text-align: center;

}

/* nav end  */
/* banner section start  */
.banner-container {
    /* margin-top: 200px; */
    margin-bottom: 50px;
    max-width: 1280px;
    margin: 0 auto;
    min-height: 50px;
    display: flex;
}

.div1-banner-text {
    width: 50%;
    text-align: left;
    /* margin:  auto 50px; */
    margin-top: 120px;
    margin-right: 65px;
    justify-content: left;
    margin-top: 50px;
    background-image: url('./images/div1bg.png');
    margin-bottom: 50px;
}

.div2-banner-img {
    width: 50%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
}

.div2-banner-img img {
    width: 100%;
    height: 100%;
}

.banner-play {
    color: #0B0223;
    /* text-align: center; */
    font-size: 50px;
    font-weight: 600;
    
}

.banner-goat {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* text-align: center; */
    font-size: 90px;
    font-weight: 800;
}
.banner-click{
    color: #534C64;
    /* text-align: center; */
    font-size: 20px;
    font-weight: 500;
    /* margin-left: -88px; */
}
.banner-download{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    /* text-align: center; */
    /* margin-left: -147px; */
}
.banner-support{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    /* text-align: center; */
    /* margin-left: 50px; */
    
}
.banner-button-1{
    padding: 21px 40px;
    gap: 20px;
    border-radius: 48px;
    background-color: #FF42A5;
    font-size: 20px;
    color: #FFF;
    display: inline-block;
    margin-top: 20px;
    font-weight: 600px;
    border: none;
}
.banner-button-2{
    display: inline-block;
    padding: 21px 40px;
    gap: 20px;
    font-size: 20px;
    color: #FFF;
    font-weight: 600px;
    border-radius: 48px;
    border: none;
    background: #4EC5F7;
}
/* banner section end  */

/* we-are-gamer secction start  */
.we-are-gamer{
    /* border: 2px solid red; */
    margin-bottom: 70px;
    max-width: 1280px;
    margin: 0 auto;
    min-height: 50px;
    display: flex;
}
.we-are-gamer-img{
    /* border: 2px solid teal; */
    width: 50%;
    margin-top: 50px;
    margin-bottom: 50px;
}
.we-are-gamer-img img{
    width: 100%;
    height: 100%;
}

.we-are-gamer-text{
    /* border: 2px solid blue; */
    width: 50%;
    text-align: right;
    margin-right: 65px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.wg-1{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 48px;
font-weight: 700;

}
.wg-p{
    color: #534C64;
font-size: 18px;
font-weight: 400;
line-height: 30px; /* 166.667% */
}
.wg-span{
    color: #534C64;
font-size: 24px;
font-weight: 500;
line-height: 45px; 
}
.wg-unleash{
    color: #534C64;
font-family: Work Sans;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 45px;
}


/* we-are-gamer secction end  */
/* video-game-container start  */
.video-game-container{
 margin-bottom: 70px;
 max-width: 1280px;
 margin: 0 auto;
 min-height: 50px;
 /* display: flex; */
}
.video-game-title{
text-align: center;
color: #0B0223;
font-size: 48px;
font-weight: 700;
margin-bottom: 20px;
}
.video-game-description{
text-align: center;
}
.image-grid{
    display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  padding: 20px;
  margin: 48px auto;
  justify-content: center;
}
.image-grid img{
    width: 100%;
}

.video-game-img1 img1{
    width: 20%;
}
.funny{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
/* .card3:hover{
    background-color: #0B0223;
    background-image: url('./images/icons8-play-20.png');
}
.card3:hover .overlay {
    opacity: 1;
} */
/* video section end  */

/* new section strated  */
.section-3{
border: 2px solid red;
margin-bottom: 70px;
max-width: 1280px;
margin: 0 auto;
min-height: 50px;
display: flex;
}
.section-3-text{
    border: 2px solid green;
    width: 50%;
    text-align: center;
    /* font-size: 30px; */
    margin-left: 10px;
   
}
.section-3-img{
border: 2px solid teal;
width: 50%;
/* margin-top: 50px; */
margin-right: 10px;
}
.section-3-img img{
    height: 100%;
    width: 100%;
}
.no-download{

}
/* footer strar */
.footer{
    background: #0B0223;
}
.logo-container-footer{
    /* align-items: center; */
    /* text-align: center; */
    display: flex;
    justify-content: center;

}